body {
    background-color: rgb(128, 128, 128);
    color: white;
    font-family: popincourt_1981;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial;
}

#title {
    display: flex;
    flex-direction: column;
    line-height: 10px;
    font-family: arial;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

h2 {
    font-size: 50px;
    line-height: 10px;
    font-family: Arial_Narrow_7;
}

form {
    display: flex;
    flex-direction: column;
    width: 65%;
}

form[type="submit"] {
    height: 50px;
    width: 50%;
    color: white;
    font-weight: bold;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 25px;
    border-radius: 22px;
    border: none;
    font-size: 15px;
}

h3 {
    font-size: 60px;
    line-height: 10px;
    font-family: Arial_Narrow_7;
}

.Texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.te5,
.te6 {
    order: 1;
    margin-bottom: 20px;
}

.imagem1 {
    height: auto;
    width: 800px;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.imagem2 {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 100%;
}

.te5 .imagem1,
.te6 .imagem2 {
    flex-basis: 50%;
}

.TIMAGEM {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.IMAGEM {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.IMAGEM img {
    width: 100px;
    height: 80px;
    max-width: 100%;
}

.Texto {
    text-align: center;
}

.TextoI{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.T1,
.T2,
.T3 {
    line-height: 10px;
}

.imagem3 {
    order: 1;
    margin-right: 10px;
    width: 200px;
    height: 80px;
    max-width: 10%;
}

.imagem4 {
    order: 1;
    margin-right: 10px;
    width: 200px;
    height: 80px;
    max-width: 10%;
}

.imagem5 {
    order: 1;
    margin-right: 10px;
    width: 200px;
    height: 80px;
    max-width: 10%;
}